html,
body {
    margin: 0;
    padding: 0;
    cursor: default;
}

.app-container {
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow-x: hidden;
    background: rgb(36, 107, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(223, 223, 223,75) 100%);
    padding-bottom: 150px;
}

.app-container>.title {
    width: 100%;
    height: 120px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 42px;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: -40px;
    user-select: none;
}

.app-container>.button-container {
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    position: fixed;
    left: 0;
    bottom: 0;
    display:flex;
    align-items:center;
    justify-content: center;
    pointer-events: none;
}

.app-container>.button-container>div{
    width: 80px;
    height: 80px;
    background-color: rgb(55, 255, 162);
    border-radius: 100%;
    background-size: 28px;
    background-position: center;
    background-image: url('../imgs/send.png');
    background-repeat:no-repeat;
    box-shadow: 0px 10px 20px -5px rgba(55, 255, 162, 0.233);
    pointer-events: all;
    cursor:pointer;
}

.app-container>.form {
    padding: 40px;
    box-sizing: border-box;
}

.app-container>.form>.data-container {
    margin-top: 20px;
}

.app-container>.form>.data-container>* {
    display: block;
    margin-top: 10px;
    transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.app-container>.form>.data-container>label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    user-select: none;
}

.app-container>.form>.data-container>input,
textarea {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.app-container>.form>.data-container>input {
    height: 50px;
}

.app-container>.form>.data-container>textarea {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 200px;
    resize: none;
}

input:focus{
    transform: scale(1.05);
}

textarea:focus{
    transform: scale(1.05) translateY(10px);
}

.drag {
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    -webkit-app-region: drag;
    box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 0px;
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: normal;
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: bold;
    src: url('../fonts/SourceSansPro-Bold.ttf');
}